/* ClientHomepage.css */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

p {
  text-align: center;
  font-size: 18px;
}

.btn {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 20px auto;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #c9302c;
}

.btn-danger {
  background-color: #d9534f;
}

/* General form styling */
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Style for labels */
label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

/* Style for input fields */
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Makes sure padding doesn't affect the final size */
  background-color: #fff;
  font-size: 16px;
  color: #333;
}

input[type="date"]:focus {
  border-color: #007bff;
  outline: none; /* Removes the default focus outline */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* HotelBookingForm.css */

.amenities-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to next line if space is insufficient */
  gap: 10px; /* Add some spacing between items */
}

.amenities-checkbox {
  display: flex; /* Align checkbox and label in a row */
  align-items: center; /* Align items vertically */
}

.amenities-checkbox input[type="checkbox"] {
  margin-right: 5px; /* Add spacing between checkbox and label */
}

.amenities-checkbox label {
  font-size: 14px; /* Set font size */
  color: #333; /* Set text color */
}

.result-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  margin-bottom: 10px;
}

.header h3 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.header p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.details {
  margin-top: 20px;
}

.details p {
  margin: 0;
  font-size: 16px;
  color: #555;
}

.details p strong {
  font-weight: bold;
}

.book-now-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-now-button:hover {
  background-color: #0056b3;
}
